#notfound {
    position: relative;
    height: 50vh;
   margin-top: 100px;
  }
  .btn-notfound {
    border: 1px solid #fd6c00;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    font-weight: 500;
    color: black;
  margin-top: 17px;
  }
  .btn-notfound:hover {
    background-color: #fd6c00;
    color: white;
    border: 1px solid #fd6c00;
  }